<section class="menu-page">

  <div class="menu-header">

    <p class="small-title">OUR MENU</p>

    <h1>
      Discover Our <span>Signature Dishes</span>
    </h1>

    <p class="intro">
      Carefully crafted dishes made with fresh ingredients
      and served with the Savora touch.
    </p>

  </div>


  @if (loading()) {

    <div class="message">
      Loading our menu...
    </div>

  }


  @if (error()) {

    <div class="message error">
      {{ error() }}
    </div>

  }


  @if (!loading() && !error()) {

    @if (menuItems().length === 0) {

      <div class="message">
        No menu items available.
      </div>

    } @else {

      <div class="menu-grid">

        @for (item of menuItems(); track item._id) {

          <div class="menu-card">

            <div class="image-container">

              @if (item.image) {

                <img
                  [src]="'http://localhost:3000' + item.image"
                  [alt]="item.name"
                >

              } @else {

                <div class="no-image">
                  Savora
                </div>

              }

            </div>


            <div class="card-content">

              <div class="card-top">

                <h2>
                  {{ item.name }}
                </h2>

                <span class="price">
                  ${{ item.price }}
                </span>

              </div>


              <span class="category">
                {{ item.category }}
              </span>


              <p>
                {{ item.description }}
              </p>

            </div>

          </div>

        }

      </div>

    }

  }

</section>